
@media only screen and (max-width: 850px) {

    html{
        overflow-x: hidden;
    }

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 2rem;
}


.section{
    display: block;
}

.box{
    width: 90%;
}

nav{
    visibility: hidden;
}

#hero{
    height: 100vh;
}

#logo{
    top: 40vh;
    width: 85vw;
    min-width: 1px;
    max-width: 500px;
}

.desktop{
    visibility: hidden;
}

.mobile{
    visibility: visible;
}



#contact{
    background-image: url(../images/GenEx_footer-mobile.jpg);
        background-attachment: scroll;
        background-position: center;
        height: 100vh;

}

#contact h1{
    padding-top: 0px;
}


}