@charset "UTF-8";

@keyframes load {
  0% {opacity: 0;}
    100% {opacity: 1;}

}

:root {
  --red: rgb(132, 0, 0);
  --brown: rgb(58, 41, 40);
  --blue: rgb(89, 155, 205);
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--brown);
  animation-name: load;
  animation-duration: 1s;
}

a{
   color: antiquewhite;
   text-decoration: none;
}

h1{
  font-family: obviously-wide, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--red);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--red);
}


h2{
  font-family: pt-serif, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--red);
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
}

h3{
  text-align: left;
  color: antiquewhite;
  font-family: pt-serif, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05rem;
  font-size: 1.1rem;
  width: 90%; 
  margin: 1rem auto;
}

nav h3{
    text-align: center;
      padding: 1.5rem;
       transition: all .3s ease;
border-radius: 1rem;
margin: 0px;
}

nav h3:hover{
  background-color: rgb(36, 18, 16);
  cursor: pointer;
}

h4{
font-family: pt-serif, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
  color: antiquewhite;
  background-color: var(--blue);
  border-radius: 1rem;
  padding: 2rem 4rem;
  margin: 0 auto;
  margin-top: 3rem;
  width: fit-content;
  transition: background-color .3s ease;
}

h4:hover{
  background-color: rgb(51, 92, 158);
  cursor: pointer;
}

h5{
  font-family: pt-serif, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: .9rem;
  color: antiquewhite;
  margin-top: 7rem;
}

p{
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: var(--brown);
    width: 90%;
  padding: 2rem;
  padding-bottom: 0px;
}

.em{
  font-weight: 600;
}

nav{
  position: fixed;
  width: 100vw;
  background-color: rgb(58, 41, 40);
  display: flex;
  justify-content: space-evenly;
  z-index: 999;
}

#logo{
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translateX(-50%);
  width: 35vw;
  min-width: 400px;
}

iframe{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

#hero{
  height: 100vh;
}

.myVideo {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  min-width: 100%;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}


#body{
  position: absolute;
  background-color: antiquewhite;
  box-shadow: 0px 0px 100px rgb(216, 187, 168);
}

.bg{
  width: 100vw;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.section{
  width: 100vw;
  margin: 0 auto;
  display: flex;
  padding-top: 7rem;
  /* border: 1px solid red; */
}


.intimg{
  width: 100%;
  border-radius: 1rem;
}

.mobileimg{
  display: none;
  margin-top: 2rem;
}

.box{
  width: 42%;
  padding-left: 4%;
  padding-right: 4%;
}

#contact{
  background-image: url(../images/GenEx_footer.jpg);
  width: 100vw;
  height: calc(100vh - 7rem);
   box-shadow: 0px 0px 100px rgb(64, 110, 149) ;
}

#contact h1{
  padding-top: 2rem;
  color: antiquewhite;
  border-bottom: 3px solid antiquewhite;
}

#calendar{
  display: block;
  width: 80%;

}

#ministry{
  padding-bottom: 6%;
}

#dates{
  width: 100%;
  padding: 0px;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin: 4% auto;
  margin-top: 2%;
  background-color: rgb(255, 250, 245)
}
